#resume {
  scroll-margin-top: 5.5rem;
}

.react-tooltip {
  font-size: 0.9rem !important;
}

@media screen and (max-width: 990px) {
  .colored {
    padding: 1rem;
  }
}

@media screen and (max-width: 567px) {
  .colored {
    padding: 0.5rem;
  }
}
