#portfolio {
  scroll-margin-top: 6rem;
}

.portfolio-item {
  background-color: var(--aeh-box);
}

.portfolio-img {
  height: 15rem;
  overflow: hidden;
}

.portfolio-img img {
  margin-top: -3rem;
}

.bg-react {
  background-color: rgb(208, 248, 255);
}

.bg-mongo {
  background-color: rgb(185, 255, 214);
}

.bg-node {
  background-color: rgb(227, 246, 189);
}

.bg-express {
  background-color: rgb(237, 214, 255);
}

.bg-django {
  background-color: rgb(255, 218, 218);
}

.bg-python {
  background-color: rgb(210, 235, 255);
}

.bg-js {
  background-color: rgb(255, 245, 153);
}

@media screen and (max-width: 1500px) {
  .bg-react,
  .bg-mongo,
  .bg-express,
  .bg-js,
  .bg-node,
  .bg-python,
  .bg-react,
  .bg-django {
    font-size: 0.64rem;
  }
}

@media screen and (max-width: 990px) {
  .bg-react,
  .bg-mongo,
  .bg-express,
  .bg-js,
  .bg-node,
  .bg-python,
  .bg-react,
  .bg-django {
    font-size: 0.64rem;
  }
}

@media screen and (max-width: 567px) {
  #portfolio {
    scroll-margin-top: 5rem;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    height: 8rem;
  }

  .portfolio-img img {
    margin-top: -2rem;
  }

  .technology {
    margin-top: 2rem;
  }

  .item-inner {
    padding-bottom: 1.5rem;
  }
}
