#portfolio {
  scroll-margin-top: 6rem;
}

.portfolio-img {
  height: 25rem;
  overflow: hidden;
  border-right: 1px solid black;
}

.portfolio-img img {
  height: 100%;
  margin-left: -5rem;
}

.bg-react,
.bg-mongo,
.bg-express,
.bg-js,
.bg-node,
.bg-python,
.bg-react,
.bg-django {
  font-size: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 50px 100px -20px, rgba(0, 0, 0, 0.25) 0px 30px 60px -30px, rgba(10, 37, 64, 0.3) 0px -2px 6px 0px inset;
}

.bg-react {
  background-color: #8aedff;
}

.bg-mongo {
  background-color: #52ff9a;
}

.bg-node {
  background-color: #b9e95a;
}

.bg-express {
  background-color: #d19aff;
}

.bg-django {
  background-color: #ffa3a3;
}

.bg-python {
  background-color: #8eccff;
}

.bg-js {
  background-color: rgb(255, 255, 143);
}

@media screen and (max-width: 567px) {
  #portfolio {
    scroll-margin-top: 5rem;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    height: 15rem;
    width: 100% !important;
    border-right: none;
    border-bottom: 1px solid black;
  }

  .portfolio-img img {
    margin-left: -1rem;
    height: 115%;
  }

  .technology {
    margin-top: 2rem;
  }

  .item-inner {
    padding-bottom: 1.5rem;
  }
}
