#portfolio {
  scroll-margin-top: 6rem;
}

.portfolio-img {
  height: 25rem;
  overflow: hidden;
  border-right: 1px solid black;
}

.portfolio-img img {
  height: 100%;
  margin-left: -5rem;
}

.bg-react,
.bg-mongo,
.bg-express,
.bg-js,
.bg-node,
.bg-python,
.bg-react,
.bg-django {
  font-size: 0.75rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.bg-react {
  background-color: rgba(138, 237, 255, 0.4);
  border: 1px solid rgba(138, 237, 255, 0.5);
  box-shadow: rgb(138, 237, 255, 0.4) 0px 5px, rgb(138, 237, 255, 0.3) 0px 10px, rgb(138, 237, 255, 0.2) 0px 15px, rgb(138, 237, 255, 0.1) 0px 20px, rgb(138, 237, 255, 0.05) 0px 25px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;

}

.bg-mongo {
  background-color: rgb(82, 255, 154, 0.4);
  border: 1px solid rgb(82, 255, 154, 0.5);
  box-shadow: rgb(82, 255, 154, 0.4) 0px 5px, rgb(82, 255, 154, 0.3) 0px 10px, rgb(82, 255, 154, 0.2) 0px 15px, rgb(82, 255, 154, 0.1) 0px 20px, rgb(82, 255, 154, 0.05) 0px 25px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

.bg-node {
  background-color: rgb(185, 233, 90, 0.4);
  border: 1px solid rgb(185, 233, 90, 0.5);
  box-shadow: rgb(185, 233, 90, 0.4) 0px 5px, rgb(185, 233, 90, 0.3) 0px 10px, rgb(185, 233, 90, 0.2) 0px 15px, rgb(185, 233, 90, 0.1) 0px 20px, rgb(185, 233, 90, 0.05) 0px 25px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

.bg-express {
  background-color: rgb(209, 154, 255, 0.4);
  border: 1px solid rgb(209, 154, 255, 0.5);
  box-shadow: rgb(209, 154, 255, 0.4) 0px 5px, rgb(209, 154, 255, 0.3) 0px 10px, rgb(209, 154, 255, 0.2) 0px 15px, rgb(209, 154, 255, 0.1) 0px 20px, rgb(209, 154, 255, 0.05) 0px 25px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

.bg-django {
  background-color: rgb(255, 163, 163, 0.4);
  border: 1px solid rgb(255, 163, 163, 0.5);
  box-shadow: rgb(255, 163, 163, 0.4) 0px 5px, rgb(255, 163, 163, 0.3) 0px 10px, rgb(255, 163, 163, 0.2) 0px 15px, rgb(255, 163, 163, 0.1) 0px 20px, rgb(255, 163, 163, 0.05) 0px 25px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

.bg-python {
  background-color: rgb(142, 204, 255, 0.4);
  border: 1px solid rgb(142, 204, 255, 0.5);
  box-shadow: rgb(142, 204, 255, 0.4) 0px 5px, rgb(142, 204, 255, 0.3) 0px 10px, rgb(142, 204, 255, 0.2) 0px 15px, rgb(142, 204, 255, 0.1) 0px 20px, rgb(142, 204, 255, 0.05) 0px 25px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

.bg-js {
  background-color: rgba(255, 230, 0, 0.4);
  border: 1px solid rgb(216, 216, 114, 0.3);
  box-shadow: rgb(255, 230, 0, 0.4) 0px 5px, rgb(255, 230, 0, 0.3) 0px 10px, rgb(255, 230, 0, 0.2) 0px 15px, rgb(255, 230, 0, 0.1) 0px 20px, rgb(255, 230, 0, 0.05) 0px 25px, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}

@media screen and (max-width: 567px) {
  #portfolio {
    scroll-margin-top: 5rem;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    height: 15rem;
    width: 100% !important;
    border-right: none;
    border-bottom: 1px solid black;
  }

  .portfolio-img img {
    margin-left: -1rem;
    height: 115%;
  }

  .technology {
    margin-top: 2rem;
  }

  .item-inner {
    padding-bottom: 1.5rem;
  }
}
