.Home h1 {
  font-size: 5rem;
}

.linkedin {
  color: #0076b3;
}

.aeh-ai {
  filter: saturate(50%);
  width: 100%;
}

@media screen and (max-width: 990px) {
  .home-inner {
    flex-direction: column-reverse;
    text-align: center !important;
    margin-top: 5rem;
  }

  .home-text {
    margin-left: 6rem;
  }

  .Home h1 {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 567px) {
  .home-text {
    margin-left: 4rem;
  }

  .Home h1 {
    font-size: 3.5rem !important;
  }
}