@font-face {
  font-family: Stretch Pro;
  src: url("/fonts/StretchPro.otf");
}

@font-face {
  font-family: Mondwest;
  src: url("/fonts/PPMondwest.otf");
}

@font-face {
  font-family: Neue Bit;
  src: url("/fonts/PPNeueBit.otf");
}

:root {
  --neon: #39FF14;
}

.dark-mode {
  --aeh-bg: #000;
  --aeh-txt: #fff;
}

.light-mode {
  --aeh-bg: #fff;
  --aeh-txt: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--aeh-bg);
  color: var(--aeh-txt);
  font-family: 'Neue Bit';
  text-transform: uppercase;
}

a {
  color: var(--aeh-txt);
  text-decoration: none;
}

ul, li {
  list-style: none;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-neon {
  color: var(--neon);
}

.slide-in, .slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--aeh-bg);
}

.slide-in {
  transform-origin: bottom;
}

.slide-out {
  transform-origin: top;
}