@font-face {
  font-family: "BB-Thin";
  src: url(/fonts/bb-manual-mono-thin.otf);
}

@font-face {
  font-family: "BB-Light";
  src: url(/fonts/bb-manual-mono-light.otf);
}

@font-face {
  font-family: "BB-Regular";
  src: url(/fonts/bb-manual-mono-regular.otf);
}

@font-face {
  font-family: "BB-Semibold";
  src: url(/fonts/bb-manual-mono-semi-bold.otf);
}

@font-face {
  font-family: "BB-Bold";
  src: url(/fonts/bb-manual-mono-bold.otf);
}

@font-face {
  font-family: "BB-Super";
  src: url(/fonts/bb-manual-mono-super.otf);
}

:root {
  --aeh-bg: #eee;
  --aeh-txt: #333;
  --aeh-accent: rgb(157, 151, 211);
  --aeh-box: #fff;
  --aeh-border: #000;
  --aeh-btntxt: #333;
}

[data-theme="dark"] {
  --aeh-bg: #2e2e2e;
  --aeh-txt: #eee;
  --aeh-accent: #d9f149;
  --aeh-box: #1d1d1d;
  --aeh-border: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "BB-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  scroll-behavior: smooth;
}

.App {
  background-color: var(--aeh-bg);
  color: var(--aeh-txt);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BB-Bold';
}

.semibold {
  font-family: 'BB-Semibold';
}

a {
  color: var(--aeh-txt);
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar { 
  display: none;
}

.bg-aeh {
  background-color: var(--aeh-bg);
}

.txt-aeh {
  color: var(--aeh-txt);
}

.btn-txt {
  color: var(--aeh-btntxt) !important;
}

.accent-txt {
  color: var(--aeh-accent);
}

.bg-accent {
  background-color: var(--aeh-accent);
}

.bg-box {
  background-color: var(--aeh-box);
}

.border-aeh {
  border-color: var(--aeh-border) !important;
}

.transparent {
  color: transparent;
}

.right-margin {
  margin-right: 0.5rem;
}

.left-margin {
  margin-left: 0.5rem;
}

.svg-inline--fa {
  color: var(--aeh-accent);
}

.description {
  font-size: .85rem;
}

.svg-inline--fa path {
  stroke: var(--aeh-txt);
  stroke-width: 10;
}

@media screen and (max-width: 1500px) {
  .description {
    font-size: .75rem;
  }
}

@media screen and (max-width: 990px) {
  .right-margin,
  .left-margin {
    margin: 0;
  }

  .top-margin {
    margin-top: 1rem !important;
  }
}
