@font-face {
  font-family: "Helvetica Bold";
  src: url(/fonts/Helvetica-Bold.ttf);
}

@font-face {
  font-family: "Stretch Pro";
  src: url(/fonts/StretchPro.otf);
}

:root {
  --aeh-bg: #eee;
  --aeh-txt: #333;
  --neon: #d9f149;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--aeh-bg);
  color: var(--aeh-txt);
  font-family: 'Helvetica Bold', sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  scroll-behavior: smooth;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Stretch Pro';
} */

a {
  color: var(--aeh-txt);
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.bg-aeh {
  background-color: var(--aeh-bg);
}

.neon-txt {
  color: var(--neon);
}

.neon-bg {
  background-color: var(--neon);
}